<!DOCTYPE html>


<html lang="en">
  <head>
  <% include partials/head %>
  </head>
  <body>

    <% include partials/header %>
     <ul>
          <% for(var id in database) { %>
          <li>

           <a target= "_blank"  href= <%= database[id] %> > <%= id %></a> ---><%= database[id] %>

           <form action= <%= "/url/delete/" + id %> method ="POST">
           <input type="submit" value="Delete">
           </form>

          <form action =<%= "/url/edit/" + id %> method = "GET">
           <input type="submit" value="Edit">
           </form>

          </li>
           <% } %>
      </ul>

    </form>

  </body>
</html>
